h1,
h2,
h3,
h4,
h5,
h6,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  line-height: 1;
  color: #333;
  font-weight: 700;
  padding-top:18px;
  text-transform: uppercase;
}


html, body, h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif;
}

#map_canvas {
    width:100%;
    /*height:calc(80% - 0);*/
    height: 500px;
    position:relative;
    overflow:hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}


.whitespace {
  padding-top: 25px;
  padding-bottom: 25px;
}

.dark-gray {
  background-color: #444;
  text-align: center;
  vertical-align: middle;
  color: #ddd;
  padding: 50px;
}

.header-hero {
  padding: 40px;
  overflow: hidden;
  background-image: url('http://wex.arkturis.com/lonestar/img/slides/6.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.light-gray {
  background-color: #ddd;
}

.gold-ribbon {
  background-color: #fbc119;
}

.rvp-brown {
  background-color: #7f6f3d;
}

.rvp-light-brown{
  background-color: #E5D5A3;
  box-shadow: 6px 6px 6px;

}

.gold-ribbon-text {
  padding-top: 0px;
  padding-bottom: 10px;
  color: #7f6f3d;
}

#bottom-ribbon {
  padding: 15px;
}

#bottom-pad {
  padding-bottom: 15px;
}

#buffer-top {
  margin-top: 10px;
}

#social:hover {
    -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1); 
}

#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
      }           

/* Only Needed in Multi-Colored Variation */
  .social-fb:hover {
    color: #3B5998;
  }
  .social-tw:hover {
    color: #4099FF;
  }
  .social-gp:hover {
    color: #d34836;
  }
  .social-em:hover {
    color: #f39c12;
  }
h6, .h6 {
font-size: 21px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.panel {
margin-bottom: 20px;
border: 4px solid #6eb644;
border-radius: 16px;
}
.navbar {
margin-bottom: -25px;
}