h1,
h2,
h3,
h4,
h5,
h6,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  line-height: 1;
  color: #333;
  font-weight: 700;
  padding-top:18px;
  text-transform: uppercase;
}


html, body, h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif;
}

#map_canvas {
    width:100%;
    /*height:calc(80% - 0);*/
    height: 500px;
    position:relative;
    overflow:hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}


.whitespace {
  padding-top: 25px;
  padding-bottom: 25px;
}

.dark-gray {
  background-color: #444;
  text-align: center;
  vertical-align: middle;
  color: #ddd;
  padding: 50px;
}

.header-hero {
  padding: 40px;
  overflow: hidden;
  background-image: url('http://wex.arkturis.com/lonestar/img/slides/6.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.light-gray {
  background-color: #ddd;
}

.gold-ribbon {
  background-color: #fbc119;
}

.rvp-brown {
  background-color: #7f6f3d;
}

.rvp-light-brown{
  background-color: #E5D5A3;
  box-shadow: 6px 6px 6px;

}

.gold-ribbon-text {
  padding-top: 0px;
  padding-bottom: 10px;
  color: #7f6f3d;
}

#bottom-ribbon {
  padding: 15px;
}

#bottom-pad {
  padding-bottom: 15px;
}

#buffer-top {
  margin-top: 10px;
}

#social:hover {
    -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1); 
}

#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
      }           

/* Only Needed in Multi-Colored Variation */
  .social-fb:hover {
    color: #3B5998;
  }
  .social-tw:hover {
    color: #4099FF;
  }
  .social-gp:hover {
    color: #d34836;
  }
  .social-em:hover {
    color: #f39c12;
  }
h6, .h6 {
font-size: 21px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar {
margin-bottom: -25px;
}
.col-md-6 {
width: 100%;
}